.toggle-btn {
   padding: 12px;
   background-color: #1e2edb;
   border: none;
   border-radius: 4px;
   color: #fff;
   margin-bottom: 40px;
   outline: none;
   box-shadow: 0px 0px 30px rgba(256, 256, 256, .1);
   cursor: pointer;
}

.toggle-btn:focus {
   outline: none;
}