.random-block {
    background-color: #fff;
    padding: 25px 25px 15px 25px;
    margin-bottom: 40px;
}
.random-block h4 {
    margin-bottom: 20px;
    text-align: center;
}
.term {
    font-weight: bold;
}

.button{
    background-color: rgb(55, 55, 243);
    padding: 8px 13px;
    border-radius: 10px;
    color: #fff;
    border: none;
    margin-bottom: 30px;
}